files__pycache__/
.idea
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
example/test/
example/wrapper/bak/
example/wrapper/robot.conf
bak-xarm/
.vscode/
/csharp/Lite6Arm/bin/Debug/net10.0
/csharp/Lite6Arm/obj
/.vs/xArm-Python-SDK.slnx/FileContentIndex
/csharp/Lite6Arm/.vs/Lite6Arm/FileContentIndex
/.vs
